# Summarise Data Challenge

Write a query which returns the difference between the "High Price" and the "Low Price" of pumpkins in different cities. Ensure that the results are returned in descending order.

First I loaded the SQL extentsion and connected to the correct database.

In [4]:
%load_ext sql
%sql postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics

Next I made a query that found the average of the range (high price minus low price) for each group by city name. These were ordered by the size of this value which I called 'Difference'.

In [5]:
%%sql 
SELECT "City Name", AVG("High Price" - "Low Price") 
  AS "Difference"
  FROM us_pumpkin_prices 
  GROUP BY "City Name"
  ORDER BY "Difference" DESC

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
13 rows affected.

[('BOSTON', 24.394886363636363),
 ('ATLANTA', 14.232456140350877),
 ('NEW YORK', 9.357142857142858),
 ('BALTIMORE', 7.565359477124183),
 ('LOS ANGELES', 5.812096774193549),
 ('PHILADELPHIA', 5.614035087719298),
 ('SAN FRANCISCO', 5.25),
 ('DALLAS', 4.817518248175182),
 ('CHICAGO', 2.6653225806451615),
 ('DETROIT', 1.2272727272727273),
 ('ST. LOUIS', 1.1407766990291262),
 ('COLUMBIA', 0.41825095057034223),
 ('MIAMI', 0.0)]

Miami has an average difference of zero so I will take a look at the data this city.

In [12]:
%%sql 
SELECT "City Name", "Low Price", "High Price"
  FROM us_pumpkin_prices 
  WHERE "City Name" = 'MIAMI'

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
3 rows affected.

[('MIAMI', 120.0, 120.0), ('MIAMI', 160.0, 160.0), ('MIAMI', 230.0, 230.0)]

All three Miami entries have no price range so there does not seem to be a problem with the previous query.